<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Orders</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: "Afacad Flux", serif;
            font-weight: 700;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            background-color: #9a9a9a;
        }
        .cart-container {
            width: 90%;
            margin: 100px auto;
            background: #fff;
            border-radius: 8px;
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
            padding: 2rem 2rem;
        }
        table {
            background-color: white;
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            text-align: left;
            padding: 1rem;
            border-bottom: 1px solid #ddd;
        }
        th {
            background: #f5f5f5;
        }
        
        .cart-image {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }

        .cart-totals {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 2rem;
            align-items: flex-start;
        }
        .cart-totals .totals-box {
            width: 100%;
            background: #f5f5f5;
            padding: 1.5rem;
            border-radius: 6px;
            margin-bottom: 1rem;
        }

        .totals-box {
            width: 100%;
            max-width: 400px;
            margin: auto;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 16px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .totals-box h3 {
            text-align: center;
            margin-bottom: 16px;
            font-size: 1.5rem;
            color: #333;
        }

        .totals-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 16px;
        }

        .quantity-input{
            height: 30px;
            width: 50px;
            justify-items: center;
        }

        .totals-table td {
            padding: 8px 12px;
            border-bottom: 1px solid #f0f0f0;
            font-size: 1rem;
        }

        .totals-table td:first-child {
            text-align: left;
            font-weight: 500;
            color: #555;
        }

        .totals-table td:last-child {
            text-align: right;
            font-weight: 700;
            color: #000;
        }

        .totals-table tr:last-child td {
            border-bottom: none;
        }

        .form-control{
            margin: 20px 0px;
            max-width: 180px;
        }

        .last-div{
            justify-items: end;
        }

        @media (min-width: 768px) {
            .cart-totals .totals-box{
                width: 100%;
                margin-bottom: 0;
            }

            footer .row {
                width: 100%;
                text-align: center;
            }
        }
    </style>
</head>
<body style="background-color: #555;">
    <%- include('../adminPartials/header') %>
    <div class="cart-container">

        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <% orderData.products.forEach(item => { %>
                    <tr>
                      <td><%= item?.productName %></td>
                      <td><%= item.productPrice %></td>
                      <td>
                        <div class="quantity">
                            <input type="number"value="<%= item.quantity %>" class="quantity-input" disabled>
                        </div>
                      </td>
                      <td><%= item.productPrice * item.quantity %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

        <div class="cart-totals">
            <div class="totals-box">
                <h3>Details</h3>
                <p style="font-weight: 500;">Fullname: <span style="font-weight: bold;"><%= orderData.fullName %></span></p>
                <p style="font-weight: 500;">Phone: <span style="font-weight: bold;"><%= orderData.phone %></span></p>
                <p style="font-weight: 500;">Email: <span style="font-weight: bold;"><%= orderData.email %></span></p>
                <p style="font-weight: 500;">Payment Method: <span style="font-weight: bold;"><%= orderData.paymentMethod %></span></p>
                <p style="font-weight: 500;">Ordered Date: <span style="font-weight: bold;"><%= orderData.createdAt.toISOString().split('T')[0]; %></span></p>
                <p style="font-weight: 500;">Status: <span style="font-weight: bold;"><%= orderData.status %></span></p>
            </div>
            <div class="totals-box">
                <h3>Address Details</h3>
                <p style="font-weight: 500;"><%= orderData.address.doorNo %></p>
                <p style="font-weight: 500;"><%= orderData.address.street %></p>
                <p style="font-weight: 500;"><%= orderData.address.city %></p>
                <p style="font-weight: 500;"><%= orderData.address.district %> - <%= orderData.address.pinCode %></p>
                <% if(orderData.orderNotes){ %>
                    <p style="font-weight: 500;">Delivery Note: <span style="font-weight: bold;"><%= orderData.orderNotes %></span></p>
                <% } %>
            </div>
            <div class="totals-box">
                <h3>Cart Totals</h3>
                <table class="totals-table">
                    <tr>
                        <td>Sub Total:</td>
                        <td id="sub-total">₹<%= orderData.priceDetails.subTotal %></td>
                    </tr>
                    <tr>
                        <td>Delivery:</td>
                        <td id="delivery">₹<%= orderData.priceDetails.delivery %></td>
                    </tr>
                    <tr>
                        <td>GST (18%):</td>
                        <td id="gst">₹<%= orderData.priceDetails.gst %></td>
                    </tr>
                    <tr>
                        <td><strong>Total:</strong></td>
                        <td id="total"><strong>₹<%= orderData.priceDetails.total %></strong></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="last-div">
            <form action="/orderupdate" method="POST">
                <input type="hidden" name="orderId" value="<%= orderData._id %>">
                <select name="orderStatus" id="orderStatus" class="form-control">
                    <option value="Pending" <%= orderData.status === "pending" ? "selected" : "" %>>Pending</option>
                    <option value="Delivered" <%= orderData.status === "delivered" ? "selected" : "" %>>Delivered</option>
                    <option value="Shipping" <%= orderData.status === "cancelled" ? "selected" : "" %>>Shipping</option>
                    <option value="Returned" <%= orderData.status === "returned" ? "selected" : "" %>>Returned</option>
                </select>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
    <%- include('../adminPartials/footer') %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


