<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: "Afacad Flux", serif;
            font-weight: 700;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

    </style>
</head>
<body>
    <%- include('../adminPartials/header') %>
    <!-- Admin Dashboard -->
    <div class="container my-5">
        <h2 class="text-center">Admin Dashboard</h2>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <button class="btn btn-success">Add User</button>
            <input type="text" class="form-control w-25"  placeholder="Search User">
        </div>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(user) { %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.phone %></td>
                        <td>
                            <button class="btn btn-primary">Edit</button>
                            <button class="btn btn-danger">Delete</button>
                            <% if (user.isActive === false) { %>
                                <button class="btn btn-success">Unblock</button>
                            <% } else { %>
                                <button class="btn btn-warning">Block</button>
                            <% } %>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <%- include('../adminPartials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
